/*
	 -------------------------------------------------------------------------

	 This file is part of the Puggle Data Conversion and Processing System
	 Copyright (C) 2013 Puggle

	 -------------------------------------------------------------------------

	 Written in 2013 by: Yogi Patel <yapatel@gatech.edu>

	 To the extent possible under law, the author(s) have dedicated all copyright
	 and related and neighboring rights to this software to the public domain
	 worldwide. This software is distributed without any warranty.

	 You should have received a copy of the CC Public Domain Dedication along with
	 this software. If not, see <http://creativecommons.org/licenses/by-sa/3.0/legalcode>.
	 */

/dts-v1/;
/plugin/;

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black";

	/* identification */
	part-number = "puggle-4ch";

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			pinctrl_test: pinctrl_test_7_pins {
				pinctrl-single,pins = <
					0x0A0 0x05 	/* P8_45 (GPIO_06) | OUTPUT (MODE 5) */
					0x0A4 0x06	/* P8_46 (GPIO_07) | INPUT  (MODE 6) */
					0x0A8 0x06	/* P8_43 (GPIO_08) | INPUT  (MODE 6) */
					0x0AC 0x06	/* P8_44 (GPIO_09) | INPUT  (MODE 6) */
					0x0B0 0x05	/* P8_41 (GPIO_10) | OUTPUT (MODE 5) */
					0x0B4 0x05	/* P8_42 (GPIO_11) | OUTPUT (MODE 5) */	
					0x0B8 0x05	/* P8_39 (GPIO_12) | OUTPUT (MODE 5) */
					0x0BC 0x05	/* P8_40 (GPIO_13) | OUTPUT (MODE 5) */
					0x0E0 0x06	/* P8_27 (GPIO_22) | INPUT  (MODE 6) */
					0x0E4 0x05	/* P8_29 (GPIO_23) | OUTPUT (MODE 5) */
					0x0E8 0x05	/* P8_28 (GPIO_24) | OUTPUT (MODE 5) */
					0x0EC 0x05	/* P8_30 (GPIO_25) | OUTPUT (MODE 5) */
				>;
			};
		};
	};

	fragment@1 {
		target = <&ocp>;
		__overlay__ {
			test_helper: helper {
				compatible = "bone-pinmux-helper";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_test>;
				status = "okay";
			};
		};
	};
};
